<div>
    <form #loginForm="ngForm" class="custom-form">
      <h1>Register</h1>
      <label>Introduce el email:</label>
      <input class="form-control" type="text" #email name="email" placeholder="User Name" required/>
      <label>Introduce el nombre:</label>
      <input class="form-control" type="text" #nombre name="nombre" placeholder="User Name" required/>
      <label>Introduce la contraseña:</label>
      <input class="form-control" type="password" #password name="password" placeholder="Password" required/>
      <button class="btn btn-info" (click)="register()">Register</button>
    </form>
  </div>
